<%- include ('partials/header.ejs') %> <%- include('partials/homenavbar.ejs') %>
<body>
  <div class="container">
    <br />
    <div class="jumbotron">
      <h1 class="display-4">Bem-vindo</h1>
      <p class="lead">Este é um simples blog do curso do guia do programador</p>
      <hr class="my-4" />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt
        minima culpa quis id, alias quia impedit aperiam sunt delectus, sequi
        aut mollitia, nesciunt saepe inventore non corrupti rem ducimus numquam!
      </p>
    </div>
    <% articles.forEach(article => { %>
    <div class="card">
      <div class="card-header">
        <h2><%= article.title %></h2>
      </div>
      <div class="card-body">
        <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
      </div>
    </div>
    <br />
    <% }) %>
  </div>
</body>
<%- include ('partials/footer.ejs') %>
